body{background-color: rgb(62, 104, 167);


}

H2 {color:rgb(63, 83, 63);
    font-family:"Arial";
    font-size:normal;
    }
    #warning {color:red;
    font-weight:bold;
    font-style:italic;
    }